html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	background-image: url(./../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--text-color);
	font-family: var(--font-main);

	font-size: 12px;
	font-style: normal;
	font-weight: 500;
}

.title-1 {
	font-size: 25px;
}
