html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.footer {
    padding-top: 50px;
    padding-bottom: 34px;
    background-color: #000;
}
