.card {
    width: 233px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;
}

.dish__img {
    padding-bottom: 10px;
}

.dish__weight {
    padding: 5px;
    border-radius: 3px;
    background-color: #546074;
    width: 47px;
}

.header__dishday-content__text {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
}

.dish__buy {
    display: flex;
    align-items: center;
    gap: 36px;

    padding-top: 15px;
}

.dish__price {
    font-size: 23px;
    font-weight: 800;

    s {
        opacity: 0.8;
        font-weight: 600;
        font-size: 18px;
    }

    &--first {
        font-weight: 600;
        font-size: 18px;
    }
}

.dish__btn {
    background: var(--accent);
    padding: 5px;
}

.dish__btn-type {
    padding: 15px 30px;

    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--accent);
    border: 1px solid var(--accent);
}
