.header {
	padding: 50px 0;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__tools {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.header__content {
	padding-top: 44px;
	padding-bottom: 380px;

	// display: flex;
	// justify-content: space-between;
	// align-items: center;

	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-items: stretch;
	align-items: start;
	gap: 68px;
}

.header__content-descr {
	padding-top: 30px;
	position: relative;
	max-width: 312px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 247px;

	&__info {
		display: flex;
		flex-direction: column;

		&-tel {
			color: #fff;
			font-size: 25px;
		}
		&-mail {
			color: #fff;
			font-size: 18px;
			text-decoration-line: underline;
		}
	}
}

.header__content-descr::before {
	position: absolute;

	content: "";
	width: 184px;
	height: 184px;
	left: -35px;
	background-image: url("./../../img/header/points-bg-small.svg");
}

.header__dishday {
	position: relative;
}

.header__dishday::before {
	position: absolute;

	content: "";
	width: 184px;
	height: 184px;
	left: -35px;
	background-image: url("./../../img/header/points-bg-big.svg");
}

.header__dishday-content {
	position: absolute;
	bottom: -145px;
	left: 86px;
	width: 355px;
	height: 358px;
	background-image: url(./../../img/header/red-bg.svg);
	padding: 37px 70px 63px 56px;
}

.header__dishday-content--extra-dish {
	position: absolute;
	right: 105%;
	top: 630px;
}

.header__dishday-dish__weight {
	background-color: #cd4c4c;
}
