.swiper {
    width: 100%;
    height: auto;
}

// .swiper-slide {
//     width: 233px;
//     margin-right: 0;
// }

.swiper-slide__link {
    width: 233px;
    height: 314px;
    background: #000;
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 37px;

    img {
        width: 160px;
    }
}

.swiper-slide__link--promotion {
    background: #b70000;
    justify-content: space-around;
    border-radius: 4px;
}

.swiper-slide__percent {
    width: 162px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 5px;

    img {
        height: 53px;
    }
}

.swiper-slide__descr {
    font-size: 20px;
    line-height: 24px;

    &--promotion {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &--promotion::after {
        content: "";
        background: url("./../../img/icons/fire.png") no-repeat;
        width: 18px;
        height: 18px;
    }
}
